.header-website {
  display: flex;
  .titleImg {
    width: 159px;
    height: 52px;
    margin: 20px 0 20px 80px;
  }
  .container-part {
    display: flex;
    margin-right: 167px;
    margin-left: 33%;
    .title-part {
      margin: 34px 94px 35px 0;
      font-size: 16px;
      color: #3D3D3D;
      font-weight: 500;
      cursor: pointer;
      font-family: AlibabaPuHuiTi-Medium,AlibabaPuHuiTi;
    }
  }
}
