body {
   overflow: auto;
  .website {
    width: 100%;
    .slide {
      width: 100%;
      height: 800px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      .slideshow {
        width: 1024px;
        height: 320px;
      }
      li {
        position: absolute;
      }
      .left, .right {
        font-size: 40px;
        cursor: pointer;
        z-index: 100;
        margin-top: 23%;
        color: #FFFFFF;
      }
      .left {
        margin-left: 44px;
      }
      .right {
        margin-left: 96%;
      }
      img {
        width: 100%;
        height: 800px;
      }
      .bar {
        position: absolute;
        width: 100%;
        bottom: 10px;
        margin: 20px auto;
        z-index: 10;
        text-align: center;
      }
      .bar span {
        width: 15px;
        height: 15px;
        border-radius: 20px;
        border: 1px solid #ccc;
        background: #FFFFFF;
        display: inline-block;
        margin-right: 10px;
      }
      .active {
        background: #33D4F4 !important;
      }
    }
    .introduce {
      width: 85%;
      margin: 0 auto;
      display: flex;
      .introduce-right {
        width: 50%;
        margin-top: 76px;
        .intro-title {
          font-size: 22px;
          font-weight: bold;
          position: relative;
        }
        .comInfo {
          color: #f4f4f4;
          font-size: 42px;
          margin-top: -41px;
          margin-left: -157px;
        }
        .intro-part {
          font-size: 16px;
          line-height: 31px;
          text-indent: 35px;
        }
        .btn {
          background: #3183F5;
          padding: 10px 30px;
          color: white;
          border: none;
          border-radius: 30px;
          font-size: 16px;
          margin: 16% 34%;
          cursor: pointer;
        }
      }
      .introduce-left {
        margin: 60px 180px 120px 80px;
        img {
          height: auto;
          width: 500px;
        }
      }
    }
    .post {
      img {
        width: 100%;
      }
    }
    .content {
      margin: 20px 0;
      .title {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        color: #25323D;
      }
      .solution {
        color: #f4f4f4;
        font-size: 36px;
        text-align: center;
        margin-top: -18px;
      }
      .solution-content {
        width: 87%;
        display: flex;
        margin: 20px 193px;
        .current {
          width: 30%;
          .list-border {
            border: 5px solid #3183F5;
            border-radius: 20px;
            padding: 2px -9px;
            margin: 20px 180px;
          }
        }
        .left, .center, .right {
          width: 26%;
          height: 400px;
          border-radius: 20px;
          margin-right: 60px;
          cursor: pointer;
          box-shadow: 3px 4px 18px #e4e3e3;
          &:hover {
            width: 30%;
            .list-border {
              border: 5px solid #3183F5;
              border-radius: 20px;
              padding: 2px -9px;
              margin: 20px 180px;
            }
          }
          img {
            padding: 35px 117px;
          }
          .list-menu {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
          }
          .list-border {
            border: 5px solid #3183F5;
            border-radius: 20px;
            padding: 2px -9px;
            margin: 20px 150px;
          }
          .list {
            text-align: center;
            font-size: 16px;
            line-height: 35px;
          }
        }
      }
    }
  }
}
